services:
  akki-stream-bot:
    container_name: akki-stream-bot
    build: .
    restart: unless-stopped

    cap_add:
      - SYS_TIME

    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
